body {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background-color: black;
  color: #1EFF00;
  }

  .e1 {
	  position: fixed;
	  top: 50%;
	  left: 45%;
	  margin-top: -50px;
	  margin-left: -50px;
  }

  .e2 {
	  position: fixed;
	  top: 52%;
	  left: 45%;
	  margin-top: -50px;
	  margin-left: -50px;
  }

  .e3 {
	  position: fixed;
	  top: 54%;
	  left: 45%;
	  margin-top: -50px;
	  margin-left: -50px;
  }

.nodisplay {
  display: none;
  }